
<style>
    img {
        width: 100%;
    }

    .img-align {
        vertical-align: top
    }

    .banner-table {
        border-collapse: collapse;
    }

        .banner-table td {
            padding: 0px;
        }
</style>
<img src="~/Images/Homepage/spin.jpg" style="width:100%" />
<table class="banner-table">
    <tr>
        <td>
            <img src="~/Images/Homepage/shop-summer-dresses.png" />
        </td>
        <td class="img-align">
            <img src="~/Images/Homepage/shop-the-new-boho.png" />
        </td>
        <td class="img-align">
            <img src="~/Images/Homepage/shop-white-dresses.png" />
        </td>
    </tr>
    <tr>
        <td>
            <img src="~/Images/Homepage/shop-summer-dresses-2.png" />
        </td>
        <td class="img-align" colspan="2">
            <img src="~/Images/Homepage/shop-swimwear.png" />
        </td>
    </tr>
</table>
<table class="banner-table">
    <tr style="vertical-align:bottom">
        <td>
            <img src="~/Images/Homepage/night-out-dresses.png" />
        </td>
        <td>
            <img src="~/Images/Homepage/sultry-tops.png" />
        </td>
        <td>
            <img src="~/Images/Homepage/heels.png" />
        </td>
        <td>
            <img src="~/Images/Homepage/accessories.png" />
        </td>
        <td>
            <img src="~/Images/Homepage/banner-2-0.png" />
        </td>
    </tr>
    <tr style="vertical-align:top">
        <td>
            <img src="~/Images/Homepage/wedding-guest.png" />
        </td>
        <td>
            <img src="~/Images/Homepage/cocktail-dresses.png" />
        </td>
        <td>
            <img src="~/Images/Homepage/two-piece-sets.png" />
        </td>
        <td>
            <img src="~/Images/Homepage/maxi-dresses.png" />
        </td>
        <td>
            <img src="~/Images/Homepage/banner-2-1.png" />
        </td>
    </tr>
</table>