
@{
    ViewData["Title"] = "Clothing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Clothing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .map-cate div {
        padding: 0
    }

    .map-cate img {
        width: 100%;
    }
</style>
<div class="container map-cate" style="width:100%">
    <div class="row">
        <div class="col-md-4">
            <a asp-action="Index" asp-controller="Product" asp-route-id="2">
                <img src="~/Images/Homepage/tops.png" />
            </a>
        </div>
        <div class="col-md-4">
            <a asp-action="Index" asp-controller="Product" asp-route-id="3">
                <img src="~/Images/Homepage/bottoma.png" />
            </a>
        </div>
        <div class="col-md-4">
            <a asp-action="Index" asp-controller="Product" asp-route-id="1">
                <img src="~/Images/Homepage/dresses.png" />
            </a>
        </div>
    </div>
</div>
<div class="container map-cate" style="width:100%">
    <div class="row">
        <div class="col-md-4">
            <a asp-action="Index" asp-controller="Product" asp-route-id="7">
                <img src="~/Images/Homepage/rompers.png" />
            </a>
        </div>
        <div class="col-md-4">
            <a asp-action="Index" asp-controller="Product" asp-route-id="6">
                <img src="~/Images/Homepage/outerwear.png" />
            </a>
        </div>
        <div class="col-md-4">
            <a asp-action="Index" asp-controller="Product" asp-route-id="8">
                <img src="~/Images/Homepage/denim.png" />
            </a>
        </div>
    </div>
</div>
<div class="container map-cate" style="width:100%">
    <div class="row">
        <div class="col-md-4">
            <a asp-action="Index" asp-controller="Product" asp-route-id="9">
                <img src="~/Images/Homepage/loungewear.png" />
            </a>
        </div>
        <div class="col-md-4">
            <a asp-action="Index" asp-controller="Product" asp-route-id="4">
                <img src="~/Images/Homepage/activewear.png" />
            </a>
        </div>
        <div class="col-md-4">
            <a asp-action="Index" asp-controller="Product" asp-route-id="5">
                <img src="~/Images/Homepage/swimwear.png" />
            </a>
        </div>
    </div>
</div>